<!-- Table to display single candidate -->

<!-- Panel displaying a message  ================================ -->
<div class="panel callout">Viewing details for: <span class="can_name" ng-bind="candidate.name"></span></div>

<!-- Table to display the single candidate -->
<table>
    <thead>
        <tr>
            <th>MongoID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td ng-bind="candidate._id"></td>
            <td ng-bind="candidate.name"></td>
            <td ng-bind="candidate.email"></td>
        </tr>
    </tbody>
</table>

<!-- Button to Edit Movie ======================================= -->
<div class="button" ui-sref="editCandidate({id:candidate._id})">Edit</div>