body {

}

a {
  color: #00B7FF;
}

div.btn_add{
    width: 50%;
}

div.panel{
    text-align: center;
    font-size: 1.5em;
}

table.candidateTable {
    text-align: center;
}

span.can_name {
    font-style: italic;
}