body {

}

a {
  color: #00B7FF;
}

div.container {
    width: 80%;
    margin: 20px auto;
    padding: 0;
}

div.panel{
    text-align: center;
    font-size: 1.5em;
}

.btn_new{
    top: 20px;
}

table.candidateTable {
    text-align: center;
}

span.can_name {
    font-style: italic;
}

label{
    width: 40%;
    display: inline-block;
}